
.region-container {
padding: 0 50px;
}

.add-region-btn-container {
    margin-top: 59px !important;
    // margin-right: 70px;
}

.region-title {
    margin-left: 50px;
}


.region-pais-title-container
 {
    margin-left: 5rem;
}

.region-ciudad-title-container {
    margin-left: 10rem;
    width: 250px;
}

