
.label-upload-btn  {
    // margin-top: 59px;
    background-color: transparent !important;
    border: #1d72c2 1px solid;
    padding: 0.5rem;
    cursor: pointer;
}
.upload-btn  {
    margin-top: 59px;
    background-color: transparent !important;
    border: #1d72c2 1px solid;
    padding: 0.5rem;
    font-family: sans-serif;
    cursor: pointer;
    margin-top: 59px;
    width: 41px;
    height: 41px;
    border-radius: 3.5px;
}

// .icon-container {
//     position: relative;
//     // width: 41px;
//     // height: 41px;
//  }

.bi-cloud-upload-fill {
    color: #1d72c2 !important;

  }

  .modal-content {
      width: 339px;
      height: 303px
  }

  .modal-footer {
      flex-wrap: nowrap;
  }

  .modal-header {
    border-bottom: none; 
  }

  .modal-footer {
      border-top: none;
  }

  .modal-text {
    text-align: center;
    padding: 25px;
    font-size: 14px;
  }
// 105px x 94px